{% extends "::base.html.twig" %}


{% block page_header %}
    <section class="prasa-header-back">
        <div class="container no-padding-right">
            <div class="page-header pull-left">
                <h3 class="fontWeight">{{ page_header }}</h3>
                <ol class="breadcrumb">
                    <li><a href="{{ path('mlanka_tech_app.user_list')}}.html">Users</a></li>
                    <li class="active">{{ breadcrumb }}</li>
                </ol>
            </div>
            <div class="filter pull-right">
                <ul class="button-group" role="group">
                    <li class="btn-group">
                        <a href="{{ path('mlanka_tech_app.user_list') }}.html" alt="List all user accounts" title="List all users" class="btn btn-default btn-group-xs"><i class="fa fa-list"></i></a>
                    </li>
                    <li class="btn-group">
                        <a href="{{ path('mlanka_tech_app.user_list') }}.html?filterBy=Active" alt="List active user accounts" title="List active user accounts" class="btn btn-default btn-group-xs"><i class="fa fa-users"></i></a>
                    </li>
                    <li class="btn-group">
                        <a href="{{ path('mlanka_tech_app.user_list') }}.html?filterBy=Locked" alt="List locked/expired user accounts" title="List locked/expired user accounts" class="btn btn-expired btn-group-xs"><i class="fa fa-users text-danger"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

{% endblock page_header  %}

{% block body %}

{% endblock body %}
