<table class="table no-border dataTable hover" id="datatable-icons" aria-describedby="datatable-icons_info">

    <thead>
    <tr role="row">
        <th {% if pagination.isSorted('u.id') %} class="sorted"{% endif %} style="width: 10px;">{{ knp_pagination_sortable(pagination,'#ID', 'u.id') }}</th>
        <th {% if pagination.isSorted('u.firstName') %} class="sorted"{% endif %} style="width: 100px;">{{ knp_pagination_sortable(pagination,'Full name', 'u.firstName') }}</th>
        <th {% if pagination.isSorted('s.name') %} class="sorted"{% endif %} style="width: 20px;">{{ knp_pagination_sortable(pagination,'Status', 's.name') }}</th>
        <th {% if pagination.isSorted('u.lastLogin') %} class="sorted"{% endif %} style="width: 50px;"><i class="fa fa-calendar"></i>&nbsp;{{ knp_pagination_sortable(pagination,'Last login At', 'u.lastLogin') }}</th>
        <th {% if pagination.isSorted('u.updatedAt') %} class="sorted"{% endif %} style="width: 50px;"><i class="fa fa-calendar"></i>&nbsp;{{ knp_pagination_sortable(pagination,'Updated At', 'u.updatedAt') }}</th>
        <th style="width: 50px;"><i class="fa fa-cogs"></i>&nbsp;Action</th></tr>
    </thead>

    <tbody role="alert" aria-live="polite" aria-relevant="all">
    {% for user in pagination %}
        <tr class="gradeA {{ cycle(['odd', 'even'], loop.index0) }}">
            <td class=" sorting_1">{{ user.id }}</td>
            <td><a href="{{ path('mlanka_tech_app.user_profile',{'slug':user.slug})}}.html" title="View" alt="View">{{user.fullname |truncate(20) }}</a></td>
            {% if user.status.code == 1 %}
                <td><span class="label label-primary btn-sm">{{user.status.name}}</span></td>
            {% elseif user.status.code == 340 %}
                <td><span class="label label-danger btn-sm">{{user.status.name}}</span></td>
            {% else %}
                <td><span class="label label-default btn-sm">{{user.status.name}}</span></td>
            {% endif%}
            <td>{{user.lastLogin|date('Y-m-d H:i A')}}</td>
            <td>{{user.updatedAt|date('Y-m-d H:i A')}}</td>
            <td>
                <a class="btn btn-default btn-sm" href=" {{ path('mlanka_tech_app.user_profile',{'slug':user.slug})}}.html" data-original-title="View" data-toggle="tooltip"><i class="fa fa-eye"></i>&nbsp;View</a>
                <a class="btn btn-primary btn-sm" href="{{ path('mlanka_tech_app.user_edit',{'slug': user.slug})}}.html" data-original-title="Edit" data-toggle="tooltip"><i class="fa fa-edit"></i>&nbsp;Edit</a>

                {% if user.status.code == 1 %}
                    {% set url = path('mlanka_tech_app.user_suspend',{'slug': user.slug}) %}
                    <a class="btn btn-danger btn-sm" href="#" data-original-title="Suspend" data-toggle="tooltip" onclick="return confirmSuspend('{{url}}');"><i class="fa fa-lock"></i>&nbsp;Suspend</a>
                {% elseif user.status.code == 340 %}
                    {% set url = path('mlanka_tech_app.user_activate',{'slug': user.slug}) %}
                    <a class="btn btn-success btn-sm" href="#" data-original-title="Activate" data-toggle="tooltip" onclick="return confirmActivation('{{url}}');"><i class="fa fa-unlock"></i>&nbsp;Activate</a>
                {% endif %}
                </form>
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>