<table class="table table-hover">
    <thead>
    <tr>
        <th>Full name</th>
        <th>Status</th>
        <th><i class="fa fa-users"></i> Role</th>
        <th><i class="fa fa-user"></i> Created By</th>
        <th><i class="fa fa-calendar"></i> Last updated At</th>
        <th><i class="fa fa-cogs"></i> Action</th>
    </tr>
    </thead>

    <tbody>
    {% for user in pagination %}
        <tr>
            <td><a href="{{ path('mlanka_tech_app.user_profile',{'slug':user.slug})}}.html" title="View {{ user.fullName | ucwords }}" alt="View {{ user.fullName | ucwords }}">{{user.fullName | ucwords }}</a></td>
            {% set error = [3,4,8,7,290] %}
            {% set warning = [300] %}
            {% if user.status.code == 1 %}
                <td><span class="label label-success">{{ user.status.name }}</span></td>
            {% elseif user.status.code in error %}
                <td><span class="label label-danger">{{ user.status.name }}</span></td>
            {% elseif user.status.code in warning %}
                <td><span class="label label-warning">{{ user.status.name }}</span></td>
            {% else %}
                <td><span class="label label-inverse">{{ user.status.name }}</span></td>
            {% endif %}
            <td>{{user.group | ucwords }}</td>
            {% if user.createdBy == '' %}
                <td>Default user</td>
            {% else %}
                <td>{{ user.createdBy | ucwords }}</td>
            {% endif %}

            <td>{{user.updatedAt|date('Y-m-d H:i A')}}</td>
            <td class="text-center">
                <a class="btn btn-primary btn-sm" href="{{ path('mlanka_tech_app.user_profile',{'slug':user.slug})}}.html" title="View profile" alt="View profile">
                    <i class="fa fa-user"></i>View
                </a>
                <a class="btn btn-primary btn-sm" href="{{ path('mlanka_tech_app.user_edit',{'slug':user.slug})}}.html" title="Edit" alt="Edit">
                    <i class="fa fa-edit"></i>Edit
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>




