{% extends "MlankaTechAppBundle:User:layout.html.twig" %}

{% block title %}MCT | {{ page_header }}{% endblock title %}

{% block body %}
    <div class="row">
        <div class="profile-info clearfix">
            <div class="col-md-12">
                {% block alert %}
                    {% include "::alert.html.twig" %}
                {% endblock %}
            </div>
            <div class="col-sm-2">
                <div class="avatar">
                    {% set path = '../../assets/images/avatar.png' %}
                    <img src="{{ asset(''~ path ~'') }}" width="130px" class="profile-avatar">
                </div>
            </div>
            <div class="col-sm-7">
                <div class="personal">
                    <h1 class="name">{{ user.fullName }}</h1>
                    <h5>{{ user.group.name }} at <i>Prasa</i></h5>

                    <p>
                        {% if user.status.code == 1 %}
                            <span class="label label-primary">{{ user.status.name }}</span>
                        {% else %}
                            <span class="label label-danger">{{ user.status.name }}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="button-block">
                        <a class="btn btn-primary"
                           href="{{ path('mlanka_tech_app.user_edit',{'slug':user.slug}) }}.html"
                           title="Update my details"><i class="fa fa-pencil"></i>Update my details</a>

                    {% if is_granted('ROLE_ADMIN') %}
                        {% if app.user.id != user.id %}
                            {% if user.status.code == 1 %}
                                  <a class="btn btn-danger"
                                       href="{{ path('mlanka_tech_app.user_edit',{'slug':user.slug}) }}.html"
                                       title="Suspend account"><i class="fa fa-lock"></i>Suspend Account
                                  </a>
                            {% else %}
                               <a class="btn btn-success"
                                       href="{{ path('mlanka_tech_app.user_edit',{'slug':user.slug}) }}.html"
                                       title="Activate account"><i class="fa fa-unlock"></i>Activate Account
                               </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% include "MlankaTechAppBundle:User/Form:profile.html.twig" %}
    </div>
{% endblock body %}