{% extends "MlankaTechAppBundle:User:layout.html.twig" %}

{% block title %}MCT | {{ page_header }}{% endblock title %}

{% block css_header %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/css/sweetalert.css') }}" />
{% endblock css_header %}

{% block body %}
    <div class="row">
        <div class="profile-info clearfix">
            <div class="col-md-12">
                {% block alert %}
                    {% include "::alert.html.twig" %}
                {% endblock %}
            </div>
            <div class="col-sm-2">
                <div class="avatar">
                    {% set path = '../../assets/images/avatar.png' %}
                    <img src="{{ asset(''~ path ~'') }}" width="130px" class="profile-avatar">
                </div>
            </div>
            <div class="col-sm-7">
                <div class="personal">
                    <h1 class="name">{{ user.fullName }}</h1>
                    <h5>{{ user.group.name }} at <i>Prasa</i></h5>

                    <p>
                        {% if user.status.code == 1 %}
                            <span class="label label-primary">{{ user.status.name }}</span>
                        {% else %}
                            <span class="label label-danger">{{ user.status.name }}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="button-block">
                        <a class="btn btn-primary"
                           href="{{ path('mlanka_tech_app.user_edit',{'slug':user.slug}) }}.html"
                           title="Update my details"><i class="fa fa-pencil"></i>Update my details</a>

                    {% if is_granted('ROLE_ADMIN') %}
                        {% if app.user.id != user.id %}
                            {% if user.status.code == 1 %}
                                {% set url = path('mlanka_tech_app.user_suspend',{'slug': user.slug}) %}
                                <a class="btn btn-danger btn-sm" href="#"
                                   data-original-title="Suspend" data-toggle="tooltip"
                                   onclick="return confirmSuspend('{{url}}');" title="Suspend account">
                                    <i class="fa fa-lock"></i>&nbsp;Suspend Account
                                </a>
                            {% elseif user.status.code == 340 %}
                                {% set url = path('mlanka_tech_app.user_activate',{'slug': user.slug}) %}
                                <a class="btn btn-success btn-sm" href="#" data-original-title="Activate"
                                   data-toggle="tooltip" title="Activate account"
                                   onclick="return confirmActivation('{{url}}');">
                                    <i class="fa fa-unlock"></i>&nbsp;Activate Account
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% include "MlankaTechAppBundle:User/Form:profile.html.twig" %}
    </div>
{% endblock body %}

{% block javascript_init %}
    parent()
    <script src="{{ asset('/assets/js/sweetalert.min.js') }}"></script>
    <script type="text/javascript">
        /**
         * Suspend organisation
         *
         * @param string url
         * @returns {boolean}
         */
        function confirmSuspend(url){
            swal({
                        title: "Are you sure?",
                        text: "User will not be able to login!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, Suspend!",
                        cancelButtonText: "Cancel ",
                        closeOnConfirm: false,
                        closeOnCancel: false },
                    function(isConfirm){
                        if (isConfirm) {
                            var $form = $('<form/>').hide();
                            //form options
                            $form.attr({
                                'action' : url,
                                'method':'post'
                            })

                            //add form to parent node
                            $(this).parent().append($form);

                            $form.submit();
                        } else {
                            swal("Cancelled", "User will not be suspended.", "error");
                        }
                    });

            return false;

        };

        /**
         * Activate organisation
         *
         * @param string url
         * @returns {boolean}
         */
        function confirmActivation(url){
            swal({
                        title: "Are you sure?",
                        text: "User will be able to login once activated!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, Activate!",
                        cancelButtonText: "Cancel ",
                        closeOnConfirm: false,
                        closeOnCancel: false },
                    function(isConfirm){
                        if (isConfirm) {
                            var $form = $('<form/>').hide();
                            //form options
                            $form.attr({
                                'action' : url,
                                'method':'post'
                            })

                            //add form to parent node
                            $(this).parent().append($form);

                            $form.submit();
                        } else {
                            swal("Cancelled", "User will not be activated.", "error");
                        }
                    });

            return false;

        };
    </script>
{% endblock javascript_init %}