{% extends "MlankaTechAppBundle:Dashboard:layout.html.twig" %}

{% block title %}MCT | Dashboard{% endblock %}

{% block javascript_header %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;amp;sensor=false" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div id="map-canvas" style="height: 600px;" class="content"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript_init %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        {% set motorCoachBlueIcon = asset('../../assets/images/map/pin-blue.png') %}
        {% set motorCoachGreenIcon = asset('../../assets/images/map/pin-green.png') %}
        {% set motorCoachOrangeIcon = asset('../../assets/images/map/pin-orange.png') %}
        {% set motorCoachRedIcon = asset('../../assets/images/map/pin-red.png') %}

        var motorCoaches =[];
        var markers = [];
        var map;

        function initialize() {

            var styles = [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#2D333C"}]}];

            var options = {
                center:new google.maps.LatLng(-25.73, 28.18),
                zoom:5,
                mapTypeId:google.maps.MapTypeId.ROADMAP,
                mapTypeControl:true,
                styles: styles
            };


            map = new google.maps.Map(document.getElementById('map-canvas'),options);

            fetchMotorCoaches();

            //call every minute
            //setInterval(fetchMotorCoaches,50000);

        };

        google.maps.event.addDomListener(window, 'load', initialize);

        var fetchMotorCoaches = function(){

            var infoWindow =  new google.maps.InfoWindow({
                content: ''
            });

            // remove markers from the map
            if(markers.length > 0){
                for(var x = 0 ; x < markers.length; x++){
                    var mark = markers[x];
                        mark.setMap(null);
                }
                markers = [];
            }

            jQuery.ajax({
                url : Routing.generate('mlanka_tech_app.motor_coach_dashboard_activity'),
                dataType : 'json',
                success : function(response) {

                    if (response.status == '200') {
                          if(response.count > 0){
                              var motorCoaches = response.motorCoaches;

                              for(var i = 0; i < motorCoaches.length ; i++){
                                  var motorCoach = motorCoaches[i];
                                  var motorCoachName = motorCoach.name;
                                  var MotorCoachIcon = null

                                  if(motorCoach.conditionName === 'critical'){
                                      MotorCoachIcon = '{{ motorCoachRedIcon }}';
                                  }else if(motorCoach.conditionName === 'warning'){
                                      MotorCoachIcon = '{{ motorCoachOrangeIcon }}';
                                  }else if(motorCoach.conditionName === 'good'){
                                      MotorCoachIcon = '{{ motorCoachGreenIcon }}';
                                  }else if(motorCoach.conditionName === 'excellent'){
                                      MotorCoachIcon = '{{ motorCoachBlueIcon }}';
                                  }

                                  var motorCoachMarker = new google.maps.Marker({
                                      position: new google.maps.LatLng(motorCoach.latitude,motorCoach.longitude),
                                      map: map,
                                      title: motorCoachName,
                                      icon: MotorCoachIcon
                                  });

                                  markers[markers.length] = motorCoachMarker;
                                  var contentString = '<div id="content">'+
                                          '<div id="siteNotice">'+
                                          '</div>'+
                                          '<h1 id="firstHeading" class="firstHeading">'+motorCoach.name+'</h1>'+
                                          '<div id="bodyContent">'+
                                          '<p><strong>Status : </strong>'+motorCoach.statusName+'</b><br />' +
                                          '<strong>Condition : </strong>'+motorCoach.conditionName+'</b>'+
                                          '</p>'+
                                          '</div>'+
                                          '</div>';

                                  bindInfoWindow(motorCoachMarker, map, infoWindow,contentString)
                              }//end for
                          }//end if
                    }// response check
                }//success
            })
         };


        var bindInfoWindow = function(marker, map, infowindow, html) {
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent(html);
                infowindow.open(map, marker);
            });
        }
    </script>
    {{  parent() }}
{% endblock%}