{% extends "MlankaTechAppBundle:Dashboard:layout.html.twig" %}

{% block title %}MCT | Dashboard{% endblock %}

{% block css_header %}
    <style type="text/css">
        #map-canvas {
            height: 100%;
            margin: 0;
            padding: 0;
            display: block;
        }
    </style>
{% endblock%}

{% block javascript_header %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js">
    </script>
{% endblock%}

{% block page_header %}
    <section class="prasa-header-back">
        <div class="container no-padding-right">
            <div class="page-header pull-left">
                <h3 class="fontWeight">Dashboard</h3>
            </div>
        </div>
    </section>
{% endblock%}


{% block page_content %}
    <section class="app-dash-table">
        <div class="container">
            <div class="col-sm-12 prasa-content">
                <div class="widgets">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="media widget-outline box-shadow">
                                <div class="media-left">
                                    <span class="media-object">
                                        <i class="fa fa-users fa-3x"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <p class="media-heading">TOTAL USERS</p>
                                    {#<h4>{{ totalUsers }}</h4>#}
                                    <h4>30</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="media widget-outline box-shadow">
                                <div class="media-left">
                                    <span class="media-object">
                                        <i class="fa fa-train fa-3x"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <p class="media-heading">ONLINE TRAINS</p>
                                    {#<h4>{{ activeTrains }}</h4>#}
                                    <h4>5</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 mg-top">
                            <div class="media widget-outline box-shadow">
                                <div class="media-left">
                                    <span class="media-object">
                                        <i class="fa fa-subway fa-3x"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <p class="media-heading">OFFLINE TRAINS</p>
                                    {#<h4>{{ inActiveTrains }}</h4>#}
                                    <h4>100</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 mg-top">
                            <div class="media widget-outline box-shadow">
                                <div class="media-left">
                                    <span class="media-object">
                                        <i class="fa fa-calendar fa-3x"></i>
                                    </span>
                                </div>
                                <div class="media-body">
                                    <p class="media-heading"class="lead">DATE</p>
                                    <h4>{{ "now"|date("d/m/Y") }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="content-padding box-shadow">
                            <!-- start map widget -->
                            <div class="map-widget">
                                <div class="map-container">
                                    <div id="map-canvas">
                                    </div>
                                </div>
                            </div>
                            <!-- / map widget -->
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <!-- recent activity -->
                        {% include '@MlankaTechApp/Dashboard/recent.activity.html.twig' %}
                        <!-- / recent activity -->
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript_bottom %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">

        var trains =[];
        var markers = [];
        var map;
        var maxAllowedZoomLevel = 2;
        //var infoWindow = null;

        function initialize() {

            var styles = [{"featureType":"administrative.locality","elementType":"all","stylers":[{"hue":"#2c2e33"},{"saturation":7},{"lightness":19},{"visibility":"on"}]},{"featureType":"landscape","elementType":"all","stylers":[{"hue":"#ffffff"},{"saturation":-100},{"lightness":100},{"visibility":"simplified"}]},{"featureType":"poi","elementType":"all","stylers":[{"hue":"#ffffff"},{"saturation":-100},{"lightness":100},{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"hue":"#bbc0c4"},{"saturation":-93},{"lightness":31},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"hue":"#bbc0c4"},{"saturation":-93},{"lightness":31},{"visibility":"on"}]},{"featureType":"road.arterial","elementType":"labels","stylers":[{"hue":"#bbc0c4"},{"saturation":-93},{"lightness":-2},{"visibility":"simplified"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"hue":"#e9ebed"},{"saturation":-90},{"lightness":-8},{"visibility":"simplified"}]},{"featureType":"transit","elementType":"all","stylers":[{"hue":"#e9ebed"},{"saturation":10},{"lightness":69},{"visibility":"on"}]},{"featureType":"water","elementType":"all","stylers":[{"hue":"#e9ebed"},{"saturation":-78},{"lightness":67},{"visibility":"simplified"}]}]


            var styles = [{"featureType":"administrative","stylers":[{"visibility":"off"}]},{"featureType":"poi","stylers":[{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"simplified"}]},{"featureType":"water","stylers":[{"visibility":"simplified"}]},{"featureType":"transit","stylers":[{"visibility":"simplified"}]},{"featureType":"landscape","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"visibility":"off"}]},{"featureType":"road.local","stylers":[{"visibility":"on"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"water","stylers":[{"color":"#84afa3"},{"lightness":52}]},{"stylers":[{"saturation":-17},{"gamma":0.36}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"color":"#3f518c"}]}];

            var styles = [{"featureType":"administrative.land_parcel","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape.man_made","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"simplified"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"hue":"#f49935"}]},{"featureType":"road.highway","elementType":"labels","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"hue":"#fad959"}]},{"featureType":"road.arterial","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"visibility":"simplified"}]},{"featureType":"road.local","elementType":"labels","stylers":[{"visibility":"simplified"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"water","elementType":"all","stylers":[{"hue":"#a1cdfc"},{"saturation":30},{"lightness":49}]}];

            var styles = [{"featureType":"all","elementType":"all","stylers":[{"invert_lightness":true},{"saturation":10},{"lightness":30},{"gamma":0.5},{"hue":"#435158"}]}];

            var styles = [{"featureType":"all","stylers":[{"saturation":0},{"hue":"#e7ecf0"}]},{"featureType":"road","stylers":[{"saturation":-70}]},{"featureType":"transit","stylers":[{"visibility":"on"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"simplified"},{"saturation":-60}]}];

            var options = {
                center:new google.maps.LatLng(-25.73, 28.18),
                zoom:5,
                mapTypeId:google.maps.MapTypeId.ROADMAP,
                mapTypeControl:true,
                styles: styles
            };


            map = new google.maps.Map(document.getElementById('map-canvas'),options);

            fetchTrains();

            //call every minute
            setInterval(fetchTrains,60000);
            //setInterval(fetchTrains,2000);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        var fetchTrains = function(){

            var infoWindow =  new google.maps.InfoWindow({
                content: ''
            });

            // remove markers from the map
            if(markers.length > 0){
                for(var x = 0 ; x < markers.length; x++){
                    var mark = markers[x];
                    mark.setMap(null);
                }

                markers = [];
            }

            jQuery.ajax({
                url : Routing.generate('mlanka_tech_app.train_ajax_update'),
                dataType : 'json',
                success : function(response) {

                    if (response.status == '200') {
                        if(response.trainsCount > 0){
                            var trains = response.trains;

                            for(var i = 0; i < trains.length ; i++){
                                var train = trains[i];
                                var trainName = train.name;
                                var trainIcon = null

                                if(train.conditionName === 'critical'){
                                    trainIcon = '/assets/img/map/pin-red.png';
                                }else if(train.conditionName === 'warning'){
                                    trainIcon = '/assets/img/map/pin-orange.png';
                                }else if(train.conditionName === 'good'){
                                    trainIcon = '/assets/img/map/pin-green.png';
                                }else if(train.conditionName === 'excellent'){
                                    trainIcon = '/assets/img/map/pin-blue.png';
                                }

                                var trainMarker = new google.maps.Marker({
                                    position: new google.maps.LatLng(train.latitude,train.longitude),
                                    map: map,
                                    title: trainName,
                                    icon: trainIcon
                                });

                                markers[markers.length] = trainMarker;
                                var contentString = '<div id="content">'+
                                        '<div id="siteNotice">'+
                                        '</div>'+
                                        '<h1 id="firstHeading" class="firstHeading">'+train.name+'</h1>'+
                                        '<div id="bodyContent">'+
                                        '<p><strong>Status : </strong>'+train.statusName+'</b><br />' +
                                        '<strong>Condition : </strong>'+train.conditionName+'</b>'+
                                        '</p>'+
                                        '</div>'+
                                        '</div>';

                                bindInfoWindow(trainMarker, map, infoWindow,contentString)
                            }//end for
                        }//end if
                    }// response check
                }//success
            })
        };


        var bindInfoWindow = function(marker, map, infowindow, html) {
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent(html);
                infowindow.open(map, marker);
            });
        }

    </script>
{% endblock%}