<div class="widget-activity">
    <div class="widget-container">
        <div class="list-group card-shadow">
            <div class="list-group-item clearfix">
                <h4 class="margin-to-padding">Recent Activity</h4>
            </div>
            {#{% for motorCoachTransaction in recentMotorCoachActivities %}#}
            {#<a href="{{ path('mlanka_tech_app.train_monitor',{slug:motorCoachTransaction.train.slug})}}.html" title="Click to monitor" alt="Click to monitor" class="list-group-item clearfix">#}
            {#<span class="pull-left">#}
            {#{% if motorCoachTransaction.condition.name == 'excellent' %}#}
            {#{% set condition_class = 'blue-txt' %}#}
            {#{% elseif motorCoachTransaction.condition.name == 'good' %}#}
            {#{% set condition_class = 'green-txt' %}#}
            {#{% elseif motorCoachTransaction.condition.name == 'warning' %}#}
            {#{% set condition_class = 'yellow-txt' %}#}
            {#{% elseif motorCoachTransaction.condition.name == 'critical' %}#}
            {#{% set condition_class = 'red-txt' %}#}
            {#{% endif %}#}
            {#<h4 class="list-group-item-heading {{condition_class}}">{{ motorCoachTransaction.train.unit }}</h4>#}
            {#<small class="list-group-item-text">#}
            {#{% set trainCondition = ['warning','critical'] %}#}
            {#{% if motorCoachTransaction.condition.name in trainCondition %}#}
            {#{{ motorCoachTransaction.errorMessage }}#}
            {#{% else %}#}
            {#&nbsp;#}
            {#{% endif %}#}
            {#</small>#}
            {#</span>#}
            {#<span class="badge">{{ motorCoachTransaction.updatedAt | time_ago_in_words }}</span>#}
            {#</a>#}
            {#{% endfor %}#}
        </div>
    </div>
</div>