<form style="margin-bottom: 0px !important;" class="form-horizontal"  method="post" action="{{ path('_forgot_password') }}.html" data-parsley-validate style="border-radius: 0px;" autocomplete="on" {{ form_enctype(form) }} {% if app.debug %}  novalidate="true"{% endif %}>
    <div class="content">
        <h5 class="title text-center"><strong>Forgot your password?</strong></h5>
        <p class="text-center">Don't worry, we'll send you an email to reset your password.</p>
        <hr>
        {% include '::alert.html.twig'%}
        {{ form_errors(form) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
        <p class="spacer text-center">Don't remember your email? Contact Support.</p>
        <button class="btn btn-block btn-primary btn-rad btn-lg" type="submit">Reset Password</button>
        <p class="col-sm-offset-5">
           <a class="btn btn-small" href="{{ path('_security_login') }}.html" title="Login" alt="Login"><i class="fa fa-unlock"></i>&nbsp;Login</a>
        </p>
        {{ form_rest(form) }}
    </div>
</form>




