<form style="margin-bottom: 0px !important;" class="form-horizontal" method="post" data-parsley-validate autocomplete="off" {{ form_enctype(form) }} action="{{ path('_reset_password', {authString: authString}) }}.html" {% if app.debug %}  novalidate="true"{% endif %} >
    <div class="content">
        <h4 class="title text-center"><strong>Reset your password.</strong></h4>
        <p class="text-center">Please enter your new password below.</p>
        {% include '::alert.html.twig'%}
        <div class="form-group">
            <div class="col-sm-12">
                    {{ form_widget(form.password.first, { 'attr': {'placeHolder': 'new password' , 'data-parsley-id' :'1000'} })}}
                    {{ form_errors(form.password.first) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                    {{ form_widget(form.password.second, { 'attr': {'placeHolder': 'confirm new password' , 'data-parsley-id' :'2000', 'data-parsley-equalto': '#UserPasswordResetType_password_first','data-parsley-equalto-message':'Passwords do not match!'} })}}
                {{ form_errors(form.password.second) }}
            </div>
        </div>
        {{ form_rest(form) }}
        <button class="btn btn-primary btn-rad btn-block" data-dismiss="modal" type="submit">Reset Password</button>
        <p class="col-sm-offset-5">
            <a class="btn btn-small" href="{{ path('_security_login') }}.html" title="Login" alt="Login"><i class="fa fa-unlock"></i>&nbsp;Login</a>
        </p>
    </div>
</form>